packages:
  yum:
    git: []
    gcc: []
    gcc-c++: []
    python3-devel: []
    python3-pip: []
    python3-setuptools: []
    gcc-gfortran: []
    atlas-devel: []
    lapack-devel: []
    blas-devel: []

option_settings:
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: true
    RetentionInDays: 7
  aws:elasticbeanstalk:cloudwatch:logs:health:
    HealthStreamingEnabled: true
    DeleteOnTerminate: true
    RetentionInDays: 7
  aws:autoscaling:launchconfiguration:
    DisableIMDSv1: true
  aws:elasticbeanstalk:environment:
    EnvironmentType: SingleInstance
  aws:elasticbeanstalk:container:python:
    NumProcesses: 1
    NumThreads: 1
    WSGIPath: application:application
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current"
    FLASK_APP: "application.py"
    FLASK_ENV: "production"
    PYTHON_VERSION: "3.10"