option_settings:
  aws:elb:listener:80:
    ListenerEnabled: true
  aws:elb:policies:
    LoadBalancerPorts: 80
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /
    Port: 5000
    Protocol: HTTP 